* {
  box-sizing: border-box; 
}

ul, ol {
  list-style: none;
  padding: 0; 
}

a {
  text-decoration: none; 
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; 
}

body.active {
  overflow-y: hidden;
}

body.active .shelter-logo {
  opacity: 0;
}

@font-face {
  font-family: 'Arial';
  /*src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");*/
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: 'Arial';
  /*src: url("../../assets/fonts/arial/arial-italic.ttf") format("truetype");*/
  font-weight: 400;
  font-style: italic; 
}

@font-face {
  font-family: 'Georgia';
  /*src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");*/
  font-weight: 400;
  font-style: normal; 
}


.wrapper {
  color: white;
  font-family: Arial, sans-serif;
  width: 1200px;
  margin: 0 auto; 
}

.overlay {
  transition: .2s;
}

.overlay.active {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
}

.start-screen {
  background: url("../assets/img/start-screen-background.jpg"), linear-gradient(120deg, #5B483A 10%, #211F20 60%);
  background-size: cover;
  padding-top: 60px; 
}
  
.start-screen .header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
    
.start-screen .header .shelter-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
      
.start-screen .header .shelter-logo h1 a {
  font-family: Georgia, serif;
  color: #F1CDB3;
  font-size: 32px;
  letter-spacing: 0.06em;
  font-weight: 400; 
}
      
.start-screen .header .shelter-logo span {
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 400; 
}

.hidden-logo {
  opacity: 0;
}

.start-screen .header .burger-menu {
  display: none;
}
    
.start-screen .header .nav-list {
  display: flex;
  font-size: 15px;
  line-height: 24px; 
}
      
.start-screen .header .nav-list li {
  margin-left: 35px; 
}
        
.start-screen .header .nav-list li a {
  color: #CDCDCD; 
}
          
.start-screen .header .nav-list li a:hover {
  cursor: pointer;
  color: white; 
}
        
.start-screen .header .nav-list li .active {
  position: relative;
  color: white;
  padding-bottom: 4px; 
}
          
.start-screen .header .nav-list li .active::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #F1CDB3; 
}

.start-screen-content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  user-select: none; 
}

.start-screen-content-text {
  max-width: 38%;
  margin-top: 163px; 
}

.start-screen-content-text h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  max-width: 80%; 
}

.start-screen-content-text p {
  text-align: justify;
  margin: 42px 0px;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 24px;
}

.start-screen-content-text a {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  font-size: 17px;
  font-family: Georgia, serif;
  color: #292929;
  background-color: #F1CDB3;
  transition: .2s;
}
.start-screen-content-text a:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.about-shelter {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 80px auto 100px auto;
  -webkit-column-gap: 120px;
  column-gap: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color:#545454
}

.about-shelter-content{
  display: flex;
  justify-content: space-around;
}

.about-shelter-text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #4C4C4C;
  width: 430px;
}

.about-shelter-text h3 {
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color:#545454
}

.our-friends {
  background-color: #F6F6F6; 
}

.our-friends .wrapper {
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.our-friends .wrapper h3 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color: #545454; 
}

.our-friends .wrapper .our-friends-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
      
.our-friends .wrapper .our-friends-cards {
  display: flex;
  width: 82.5%;
  justify-content: center;
  column-gap: 90px; 
}
        
.our-friends .wrapper .our-friends-individual-card {
  width: 270px;
  border-radius: 9px;
  height: 435px;
  background-color: #FAFAFA;
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .2s; 
}
          
.our-friends .wrapper .our-friends-individual-card:hover {
  cursor: pointer;
  background-color: #FFFFFF; 
}
            
.our-friends .wrapper .our-friends-individual-card:hover button {
  border-color: #F1CDB3;
  cursor: pointer;
  /*border-color: #FDDCC4;*/
  background-color: #FDDCC4;
}
          
.our-friends .wrapper .our-friends-individual-card img {
  margin-bottom: 30px; 
}
          
.our-friends .wrapper .our-friends-individual-card .pet-name {
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: .06em;
  line-height: 1.13; 
}
          
.our-friends .wrapper .our-friends-individual-card button {
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  transition: .2s;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: .06em;
  line-height: 1.3; 
}
            
.our-friends .wrapper .our-friends-individual-card button:hover {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4; 
}
      
.our-friends .wrapper .our-friends-slider-button {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: transparent;
  transition: .1s;
  display: flex;
  justify-content: center;
  align-items: center; 
}
        
.our-friends .wrapper .our-friends-slider-button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: transparent; 
}

.btn-right{
  transform: rotate(-180deg);
}
    
.our-friends .wrapper .our-friends-get-the-pet {
  margin: 60px 0 100px 0;
  padding: 15px 45px;
  border: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-size: 17px;
  font-family: Georgia, serif;
  line-height: 1.3;
  letter-spacing: .06em;
  color: #292929;
  transition: .2s; 
}
      
.our-friends .wrapper .our-friends-get-the-pet:hover {
  cursor: pointer;
  background-color: #FDDCC4; 
}
      
.our-friends .wrapper .our-friends-get-the-pet a {
  color: inherit; 
}


.help-the-shelter {
  background-color: #FFFFFF;
  padding-bottom: 100px; 
}
  
.help-the-shelter .wrapper {
  color: #545454; 
}
    
.help-the-shelter .wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color: #545454;
  width: 30%;
  margin: 80px auto 60px auto;
  text-align: center; 
}
    
.help-the-shelter .wrapper .help-icons {
  width: 100%; 
}
      
.help-the-shelter .wrapper .help-icons-list {
  margin: 0 auto;
  width: 85.8%;
  display: flex;
  column-gap: 120px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px; 
}
      
.help-the-shelter .wrapper .help-icons-element {
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .06em;
  font-family: Georgia, serif;
  font-weight: 400; 
}

.help-the-shelter .wrapper .help-icons .food {
  background: url("../assets/img/icon-pet-food.svg") no-repeat top center; 
}
      
.help-the-shelter .wrapper .help-icons .transportation {
  background: url("../assets/img/icon-transportation.svg") no-repeat top center; 
}

.help-the-shelter .wrapper .help-icons .toys {
  width: 60px;
  background: url("../assets/img/icon-toys.svg") no-repeat top center; 
}

.help-the-shelter .wrapper .help-icons .bowls {
  background: url("../assets/img/icon-bowls-and-cups.svg") no-repeat top center; 
}
      
.help-the-shelter .wrapper .help-icons .shampoos {
  background: url("../assets/img/icon-shampoos.svg") no-repeat top center; 
}
      
.help-the-shelter .wrapper .help-icons .vitamins {
  background: url("../assets/img/icon-vitamins.svg") no-repeat top center; 
}

.help-the-shelter .wrapper .help-icons .medicine {
  background: url("../assets/img/icon-medicines.svg") no-repeat top center; 
}

.help-the-shelter .wrapper .help-icons .collar {
  background: url("../assets/img/icon-collars-leashes.svg") no-repeat top center; 
}
    
.help-the-shelter .wrapper .help-icons .sleep {
  background: url("../assets/img/icon-sleeping-area.svg") no-repeat top center; 
}


.in-addition {
  background-color: #F6F6F6; 
}
  
.in-addition .wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.in-addition-content {
  width: 80%;
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center; 
}
    
.in-addition-content-text {
  margin: 0 30px 0 30px;
  width: 40%;
}
      
.in-addition-content-text h3 {
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color: #545454;
  margin-bottom: 20px; 
}

.in-addition-content-text .name-of-the-bank {
  font-size: 15px;
  letter-spacing: .06em;
  font-family: Georgia, serif;
  font-weight: 400;
  color: #545454;
  margin-bottom: 20px; 
}

.in-addition-content-text .card-number {
  margin-bottom: 20px;
}
        
.in-addition-content-text .card-number a {
  display: inline-block;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .06em;
  color: #545454;
  text-decoration: none;
  padding: 10px 15px 10px 57px;
  border-radius: 9px;
  background: url("../assets/img/credit-card.svg") no-repeat left 14px center, #F1CDB3;
}

.in-addition-content-text p {
  font-size: 12px;
  color: #b2b2b2;
  font-style: italic;
  line-height: 18px;
}
  

.footer {
  background: linear-gradient(120deg, #5B483A 10%, #211F20 60%);
  padding-top: 40px; 
}
  
.footer-info {
  display: flex;
  justify-content: space-between;
  font-family: Georgia, serif; 
}
   
.footer-contacts {
  display: flex;
  flex-direction: column;
  max-width: 23.5%;
  padding-top: 10px; 
}
      
.footer-contacts h3 {
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color: #545454;
  color: #FFFFFF;
  margin-bottom: 40px; 
}

.footer-contacts .mail {
  padding-left: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .06em;
  color: #F1CDB3;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 40px;
  background: url("../assets/img/icon-email.svg") no-repeat left center; 
}
      
.footer-contacts .phone {
  padding: 5px 0px 5px 60px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .06em;
  color: #F1CDB3;
  text-decoration: none;
  font-weight: 400;
  background: url("../assets/img/icon-phone.svg") no-repeat left center; 
  
}

.footer-contacts .mail:hover, .footer-contacts .phone:hover {
  text-decoration: underline; 
}

.footer-address {
  display: flex;
  padding-top: 10px;    
  flex-direction: column;
  margin-left: 160px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: .06em;
  color: #F1CDB3; 
}

.footer-address h3 {
  font-size: 35px;
  line-height: 1.3;
  font-family: Georgia, serif;
  font-weight: 400;
  letter-spacing: .06em;
  color: #545454;
  color: #FFFFFF; 
}

.footer-address .boston, .footer-address .london {
  font-style: normal;
  margin-top:32px
}

.footer-address .boston a, .footer-address .london a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background: url("../assets/img/icon-marker.svg") no-repeat left center;
  padding-left: 42px;
  text-align: left;
}

.footer-address .boston a:hover, .footer-address .london a:hover {
  text-decoration: underline;
}

.footer-address .london a {
  padding-top: 5px;
  padding-bottom:5px
}

.footer-image {
  margin-left: 160px;
  max-height: 310px
}


@media screen and (max-width: 1279px) {
  .wrapper {
    width: 90%;
  }

  .start-screen {
    padding-top: 0;
  }
  
  .header {
    justify-content: space-around;
  }
  
  .start-screen-content .wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .about-shelter-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-shelter-text {
    order: -1;
    padding-top: 25px;
    padding-bottom: 80px;
  }
  
  .our-friends .wrapper .our-friends-cards {
    display: flex;
    width: 82.5%;
    justify-content: center;
    column-gap: 40px;
  }
  
  .in-addition-content {
    flex-direction: column;
  }
  
  .in-addition-content-text {
    order: -1;
  }
 
  .footer-image {
    order: 1;
    justify-self: center;
  }
}
  
@media screen and (max-width: 900px) {
  .start-screen {
    padding-top: 30px;
  }
  
  .shelter-logo {
    margin-left: -10px;
  }
  
  .navigation {
    margin-right: -7px;
  }
  
  .our-friends .wrapper .our-friends-individual-card.tablet-hidden {
    display: none;
  }
  
  .start-screen-content.wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .start-screen-content-text {
    margin-top: 0;
    max-width: 67%;
  }

  
  .start-screen-content-text > a {
    margin-left: 126px;
  }

  .start-logo-puppy {
    align-self: flex-end;
    max-width: 80%;
    margin-top: 110px;
  }

  .about-shelter-text {
    padding-top: 7px;
    margin-left: 0;
  }
  
  .about-shelter-text > h3 + p {
    margin: 25px auto;
  }
    
  .about-shelter-content > img {
    max-width: 61%;
    margin: 13px auto 0 auto;
  }
    
  .our-friends .wrapper h3 {
    width: 90%;
  }

  /*.help-the-shelter > .wrapper{
    width: 93%;
  }*/
    
  .help-the-shelter .wrapper .help-icons-list {
    justify-content: space-between;
    column-gap: normal;
    row-gap: 55px;
}

  .help-the-shelter .wrapper h3 {
    width: 51%;
  }
    
  .help-the-shelter .wrapper .help-icons-list {
    column-gap: 70px;
  }

  .help-icons-element{
    font-size: 18px;
    flex: 21.5%;
    white-space: nowrap;
    
  }
    
  .in-addition-content-text {
    width: 70%;
  }
    
  .in-addition-content {
    padding-bottom: 97px;
  }
    
  .in-addition-content-text .card-number {
    margin-bottom: 9px;
  }
    
  .in-addition-content-pic > img {
    margin-top: 46px;
    margin-left: 0;
    
  }

  .footer-contacts, .footer-address {   
    max-width: 49%;
  }
    
  .footer-address {
    margin-left: 0;
    padding-left: 5px;
    max-width: 40%;
    margin-right: -12px;
  }

  .footer-info {
    margin: 0 auto;
    max-width: 92%;
    flex-wrap: wrap;
  }
    
  .footer {
    padding-top: 14px;
  }
  
  .footer-image {
    margin-top: 64px;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  html {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .wrapper{
    width: 100%;
  }

  .start-screen .header {
    padding-left: 20px;
    height: auto;
    align-items: center;
  }

  .start-screen .header .navigation .hidden-logo {
    transition: cubic-bezier(0.42, 0, 0.58, 1.02) 0.5s;
    opacity: 1;
    display: block;
    position: absolute;
    top: 30px;
    left:10px
  }

  .start-screen .header .navigation .hidden-logo .cozy-house {
    font-family: Georgia, serif;
    color: #F1CDB3;
    font-size: 32px;
    letter-spacing: 0.06em;
    font-weight:400
  }

  .start-screen .header .navigation .hidden-logo .cozy-house a {
    color: inherit;
  }

  .start-screen .header .navigation .hidden-logo .underline {
    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.116em;
    font-weight: 400;
    display: inline-block;
    padding-left: 4px;
    padding-top: 9px;
    letter-spacing: .1em;
  } 


  .start-screen .header .burger-menu {
    display: block;
    width: 30px;
    height: 22px;
    background: url("../assets/img/Burger.png") no-repeat center center;
    margin-right: 53px;
    position: relative;
    z-index: 2;
    transition: .5s;
    cursor: pointer;
  }

  .start-screen .header .shelter-logo h1 a {
    position: relative;
    order: 1;
    z-index: 2;
  }

  .start-screen .header .shelter-logo span {
    position: relative;
    order: 2;
    z-index: 2;
  }

  .start-screen .header .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 150px;
  }

  .start-screen .header .nav-list li {
    margin: 0;
  }

  .start-screen .header .nav-list li a {
    font-size: 32px;
  }

  .start-screen .header .navigation {
    position: fixed;
    top: 0;
    right: -110%;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 1;
  }


  .start-screen .header .navigation-active {
    right: 0;
  }

  .start-screen .header .burger-menu-active {
    position: fixed;
    right: 0px;
    transform: rotate(90deg);
  }

  .start-screen-content-text {
    max-width: 92%;
    text-align: center;
  }

  .start-screen-content-text p{
    margin:42px auto;
    width: 100%;
    text-align: center;
    letter-spacing: normal;
  }

  .start-screen-content-text h2 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    letter-spacing: .06em;
  }

  .start-screen-content-text a {
    margin: 0 auto;
  }

  .about-shelter {
    width: 89%;
  }

  .about-shelter-text>h3 {
    padding: 0;
    margin-top: -30px;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align:center;
    width: 100%;
  }


  .about-shelter-text {
    max-width: 95%;
    font-size: 15px;
    text-align: justify;
  }

  .about-shelter-text p {
    margin: 0;
    margin-top: 25px;
    max-width: 100%;
  }

  .about-shelter-content>img{
    width: 100%;
    margin-top: -40px;
    margin-bottom: -60px;
    max-width: 259px;
  }

  .our-friends .wrapper .our-friends-individual-card img {
    margin-bottom: 30px;
    margin-top: -20px;
  }

  .our-friends .wrapper h3{
    font-size: 25px;
    margin-top: -40px;
  }

  .our-friends-slider{
    flex-wrap: wrap;
  }

  .our-friends .wrapper .our-friends-slider{
    justify-content: space-around;
  }

  .our-friends-individual-card{
    width: 100%;
    
  }
  .our-friends .wrapper .our-friends-cards{
    width: 100%;

  }

  .our-friends .wrapper .our-friends-individual-card.phone-hidden {
    display: none;
  }

  .our-friends-slider-button.btn-left{
    order: 2;
    width: 50%;
    margin-right: -50px;
    margin-top: 20px;
  }

  .our-friends-slider-button.btn-right{
    order: 3;
    width: 50%;
    margin-left: -7px;
    margin-bottom: -19px;
  }

  .our-friends .wrapper .our-friends-get-the-pet {
    margin-top: 43px;
    margin-bottom: 42px;
  }

  .help-the-shelter {
    padding: 42px 10px;
  }

  .help-icons-element:nth-child(9){
    margin-right: 0;
  }

  .help-the-shelter .wrapper h3 {
    width: 80%;
    font-size: 25px;
    line-height: 32.5px;
    margin: 0 auto;
  }


  .help-icons {
    max-width: 630px;
    max-height: 555px;
    width: calc(290px + 340 * ((100vw - 320px) / (768 - 320)));
    height: calc(555px - 106 * ((100vw - 320px) / (768 - 320)));
  }

  .help-icons-element {
    width: calc(130px + 40 * ((100vw - 320px) / (768 - 320)));
    height: calc(87px + 26 * ((100vw - 320px) / (768 - 320)));
    margin: 0px;
  }


  .help-the-shelter .wrapper .help-icons-list {
    row-gap: 29px;
    width: 100%;
    padding-top: 42px;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
  }

  .help-the-shelter .wrapper .help-icons-element {
    height: 88px;
    width: 44%;
    margin: 0 2%;
    font-size: 15px;
    line-height: 16.5px;
    
  }

  .help-the-shelter .wrapper .help-icons .food {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .transportation {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .toys {
    background-size: 50px; 
    
  }

  .help-the-shelter .wrapper .help-icons .bowls {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .shampoos {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .vitamins {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .medicine {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .collar {
    background-size: 50px;
    
  }

  .help-the-shelter .wrapper .help-icons .sleep {
    background-size: 50px;
    margin-right: 170px;
    
  }

  .help-icons-list>li{
    width: 40%;
    
  }

  .in-addition-content {
    width: 100%;
    padding: 42px 10px;
    padding-bottom: 35px;
  }

  .in-addition-content-pic {
    width: 90%;
    margin: 0 auto;
  }

  .in-addition-content-pic img {
    width: 100%;
  }

  .in-addition-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .in-addition-content-text h3 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }

  .in-addition-content-text .name-of-the-bank {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: normal;
  }

  .in-addition-content-text .card-number {
    padding-left: 0px;
  }

  .in-addition-content-text .card-number a {
    font-size: 15px;
  }

  .in-addition-content-text p {
    margin-bottom: 0 0 40px 0;
    text-align: justify;
    width:93%
  }

  .footer {
    padding-top: 0;
  }

  .footer-info{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    flex-wrap: nowrap;
    padding: 30px 10px 0 10px;
  }

  .footer-contacts{
    max-width: 100%;
    padding-top: 2px;
    margin: 0;
    align-items: center;
    
  }

  .footer-contacts h3 {
    margin-bottom: 43px;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
  }

  .footer-address{
    max-width: 100%;
    padding-left: 0;
    padding-top: 43px;
    margin: 0;
    align-items: center;
  }

  .footer-address h3 {
    margin: 0px 15px;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
  }

  .footer-address .boston, .footer-address .london {
    margin-top: 35px;
  }

  .footer-address .london {
    align-self: flex-start;
  }

  .footer-address .boston a {
    padding: 5px 0 5px 39px;
  }

  .footer-image {
    margin: 40px auto 0 auto;
    width: 86%;
  }

  .footer-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
  }
}
  